* {margin: 0; padding: 0;}

html, body {height: 100%;}

#time {
	color: white; 
	font: 64px Courier New; 
	height: 64px;
	position: relative; 
	top: 50%;
	text-align: center;
}

#colors {
	height: 64px;
	margin-bottom: 40px;
	display: block;
}

.color {
	float: left;
	width: 33%;
	height: 100%;
	text-align: center;
}

.color > h1 {
	color: #bcd;
}
