* {margin: 0; padding: 0;}

html, body {height: 100%;}

#time {
	color: white; 
	font: 96px PT Mono, Courier, Arial; 
	height: 64px;
	position: relative; 
	top: 50%;
	text-align: center;
}

#colors {
	font: 48px Helvetica Arial; 
	height: 64px;
	max-width: 60%;
	position: relative; 
	margin: 20px auto;
	text-align: center;
}

.color {
	float: left;
	width: 33%;
	height: 100%;
	text-align: center;
}

#red > p {
	color: #dbb;
}

#green > p {
	color: #bdb;
}

#blue > p {
	color: #bbd;
}
